body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image {
    width: 150px;
}
.card {
    margin: 20px;
    display: flex;
   width: 400px;
   margin-left: auto;
   margin-right: auto;

    text-emphasis-color: #2b2829;
    background-color: #ddebf8;
    border-bottom : 5px solid #d8cefe ;
    padding: 20px;
}
.card2 {
    margin-left: 20px;
  
   text-align: center;
}